<nav>
  <ul class="nav-list">
    <li class="nav-link">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li class="nav-link">
      <a
        routerLink="/fans"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Fans</a
      >
    </li>
    <li class="nav-link">
      <a
        routerLink="/courses"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Courses</a
      >
    </li>
    <li class="nav-link">
      <a
        routerLink="/gallery"
        routerLinkActive="active"
        >Gallery</a
      >
    </li>
    <li class="nav-link">
      <a
        routerLink="/shopping"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >shopping</a
      >
    </li>
  </ul>
</nav>
