<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" placeholder="Name..." formControlName="name" />
      <mat-error class="error-msg" *ngIf="nameInput.invalid && nameInput.touched">
        Name error...
      </mat-error>
    </mat-form-field>
    <div>
      <input type="text" placeholder="Email..." formControlName="email" />
      <p class="error-msg" *ngIf="emailInput.invalid && emailInput.touched">
        Email error...
      </p>
    </div>
    <div>
      <input type="text" placeholder="Password..." formControlName="password" />
      <p
        class="error-msg"
        *ngIf="passwordInput.invalid && passwordInput.touched"
      >
        Password Error...
      </p>
    </div>
    <div>
      <select formControlName="role">
        <option *ngFor="let role of roles" [value]="role">
          {{ role }}
        </option>
      </select>
      <p class="error-msg" *ngIf="roleInput.invalid && roleInput.touched">
        Role error...
      </p>
    </div>
    <button
      type="submit"
      [disabled]="registerForm.invalid"
      mat-raised-button
      color="accent"
    >
      Submit
    </button>
  </form>
</div>
